<html>
<center>

    <body>
        <p>Hello,</p>

        <table style="text-align:center;" style="width: 100%;">
            <tbody>
                <tr>
                    <td style="width: 50.0000%;">
                        <br><img src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/user-man-circle-512.png" alt="Image result for user image" width="256" class="fr-fic fr-dii" style="width: 129px; height: 129px;">
                        <br><strong>{{pers1}}</strong></td>
                    <td style="width: 50.0000%;">
                        <br><img src="https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/user-man-circle-512.png" alt="Image result for user image" width="256" class="fr-fic fr-dii" style="width: 129px; height: 129px;">
                        <br><strong>{{pers2}}</strong>
                        <br>
                    </td>
                </tr>
            </tbody>
        </table>

        <p>Je vous pr&eacute;sente votre Kestuff &agrave; r&eacute;aliser en Ao&ucirc;t.</p>

        <p>
            <br>
        </p>

        <p>Prenez donc 5 minutes ensemble <em>(autour d&#39;un HO, caf&eacute;, croissant, clope, dej...)</em> pour apprendre &agrave; vous conna&icirc;tre professionnellement et personnellement.</p>

        <p>
            <br>
        </p>
        <!-- <p>
            (Ici pour la modif du template) : {{body_plus|safe}}
        </p> -->
    </body>
</center>

</html>